Babel==2.6.0
backcall==0.1.0
certifi==2018.11.29
chardet==3.0.4
DateTime==4.3
debtcollector==1.20.0
decorator==4.3.2
dnspython==1.15.0
eventlet==0.24.1
greenlet==0.4.15
grpcio==1.17.0
httplib2==0.12.1
idna==2.7
igraph==0.1.11
ipython==7.3.0
ipython-genutils==0.2.0
jedi==0.13.3
monotonic==1.5
msgpack==0.6.0
multidict==4.5.2
netaddr==0.7.19
ntplib==0.3.3
numpy==1.16.2
oslo.config==6.7.0
oslo.i18n==3.23.0
ovs==2.10.0
parso==0.3.4
pbr==5.1.1
pexpect==4.6.0
pickleshare==0.7.5
pox==0.2.5
prompt-toolkit==2.0.9
protobuf==3.15.0
ptyprocess==0.6.0
pulsar-client==2.2.0
Pygments==2.3.1
pytz==2018.7
PyYAML==3.13
repoze.lru==0.7
requests==2.20.1
rfc3986==1.2.0
Routes==2.4.1
ryu==4.30
scapy==2.4.2
scikit-learn==0.20.3
scipy==1.2.1
six==1.11.0
sklearn==0.0
sortedcontainers==2.1.0
SQLAlchemy==1.2.18
sqlparse==0.2.4
stevedore==1.30.0
sysv-ipc==1.0.0
tabulate==0.8.3
tinyrpc==0.9.3
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
WebOb==1.8.4
wrapt==1.10.11
zope.event==4.4
zope.interface==4.6.0
