adium-theme-ubuntu==0.3.4
ansible==2.4.1.0
asn1crypto==0.24.0
cffi==1.12.2
cryptography==2.6.1
DateTime==4.3
ecdsa==0.13
enum34==1.1.6
futures==3.2.0
grpcio==1.16.1
gyp==0.1
httplib2==0.18.0
ipaddress==1.0.22
Jinja2==2.8
MarkupSafe==0.23
netaddr==0.7.18
netifaces==0.10.9
numpy==1.16.1
paramiko==1.16.0
protobuf==3.6.1
pulsar-client==2.2.0
pycparser==2.19
pycrypto==2.6.1
pytz==2018.9
PyYAML==3.11
six==1.11.0
unity-lens-photos==1.0
zope.interface==4.6.0
